*{
	margin: 0px;
}

body{
	font-family: "arial", sans-serif;
}

#container {
	width: 1024px;
	margin: auto;
}

h1{
	font-size: 64px;
	color: #333;
}

p{
	color:#333;
	font-family: "Arial";
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	color: #369255;
}	

input{
	width: 300px;
	font-size: 28px;
	font-family: "Arial";
}

#nav {
	background: #333;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 1024px;
	display: block;
	position: absolute;
	z-index: 1001;
}

#nav ul li{
	display: inline-block;
	margin-left: 12px;
}

#header{
	height: 200px;
}